.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.articleBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  background-color: #a49480;
  border-color: grey;
  border-style: solid;
  border-width: 1px 2px 1px 2px;
}
.articleBarItem {
  flex-grow: 0;
  flex-shrink: 1;
}
.articleCard {
  border-top: 1px;
  border-left: 2px;
  border-bottom: 1px;
  border-right: 2px;
  border-color: grey;
  border-style: solid;
  border-radius: 1px;
  background-color: beige;
}
.articleForm {
  border: grey 5px solid;
  border-radius: 10px;
  width: 50%;
  margin-left:25%;
}
.articleFormComponent {
  padding: 5px;
  margin: 10px;
}
.articleTile {
  border: solid grey;
  background-color: beige;
  border-width: 1px 2px 1px 2px;
}
.bubbleCard {
  background-color:beige;
  border-color: grey;
  border-style: solid;
  border-width: 1px 2px 1px 2px;
}
.commentCard {
  border: solid grey;
  background-color: beige;
  border-width: 1px 2px 1px 2px;
}
.commentForm {
  background-color:beige;
  border-color: grey;
  border-style: solid;
  border-width: 1px 2px 1px 2px;
  margin: 0px
}
.deleteButton {
  background-color: rgb(87, 10, 10);
  font-family: Lobster, monospace;
  color: rgb(224, 202, 202);
}
.err {
  font-family: Lobster, monospace;
  font-size: 60px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: yellow;
  color: red;
}
.errBox {
  margin-top: 20px;
  border: solid grey;
  background-color: beige;
  border-width: 5px;
  border-radius: 5px;
  width: 30%;
  margin-left:35%;
}
.errCode {
  font-family: Lobster, monospace;
  font-size: 60px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  background-color: yellow;
  color: red;
}
.errImg {
  padding-top: 0px;
  margin-top:0px;
  max-width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: black;
}
.errMsg {
  margin-top: 20px;
  font-size: 20px;
  padding: 0px;
}
h1 {
  font-family: Lobster, monospace;
  font-size: 7vmax;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: beige;
  background: -webkit-linear-gradient(#42addb, #002d3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  border: grey 5px solid;
  border-radius: 10px;

}
h1:link {
  text-decoration: none
}
h2 {
  font-size: 60px;
  font-family: Lobster, monospace;
  background: -webkit-linear-gradient(#8b8f91, #1a313a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 15px;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  font-size: 20px;
}
.mainImg {
  margin-top: 30px;
  width: 99%;
  height: auto;
  border: grey 5px solid;
  border-radius: 10px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  background-color: #a49480;
  border-color: grey;
  border-style: solid;
  border-width: 2px 2px 1px 2px;
}
.navButton {
  flex-grow: 1;
  flex-shrink: 1;
}
.paginator {
  background-color: #a49480;
  border-color: grey;
  border-style: solid;
  border-width: 1px 2px 2px 2px;
}
.speechBubble {
  max-width: 10%;
  max-height:10%;
  padding: 0px;
  margin: 0px;
}
.submissionWarning {
  background-color: red;
}
.topicCard {
  border: solid grey;
  background-color: beige;
  border-width: 1px 2px 1px 2px;
}
.topicImg {
  max-width: 200px;
  max-height: auto;
}
.topicForm {
  border: grey 5px solid;
  border-radius: 10px;
  width: 50%;
  margin-left:25%;
}
.topicFormComponent {
  padding: 5px;
  margin: 10px;
}
.userBar {
  background-color: #a49480;
  border-color: grey;
  border-style: solid;
  border-width: 1px 2px 1px 2px;
}
.userButton {
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.userCard {
  border: solid grey;
  background-color: beige;
  border-width: 1px 2px 1px 2px;
}
.userField {
  width: 90%;
}
.userForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  border: solid grey;
  background-color: beige;
  align-items: center;
  border-width: 5px;
  border-radius: 20px;
  width: 50%;
  margin-left:25%;
  margin-top: 0px;
}
.userImg {
  max-width: 100px;
  max-height: 100px;
}
